<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <title>petition</title>
        <header>Leitungswasser* is a reasonable request
        <p id="tap">*Leitungswasser: Tap water in German</p></header>
        <img src="/hamburgermenu.svg" alt="men" id="men">

    </head>
    <body>

        {{{body}}}
        {{>nav}}

    </body>
</html>
