<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <title>petition</title>
        <header>ANOTHER SEASON FOR BOJACK</header>
    </head>

    <body>
        {{{body}}}
        <footer>Inbal Levertov, Petition Project, Allspice cohort, Berlin 2020</footer>
    </body>
</html>
