
<div class="container">
    <img id="water" src="/water.jpg" alt="water">
    <p>hello {{first}} {{last}}</p>
    <div class="inner-container">
        {{#if error}}
        <div class='err'>please sign before submitting</div>
        {{/if}}
        <p>Join us in the fight against Leitungswasser shaming!</p>
        <p>(we were gonna order food anyway)</p>
        <form method='POST'>
            <input type='hidden' id="sig" name="signature">
            <input type='hidden' name="_csrf" value={{csrfToken}}>
            <button name="button">submit</button>
        </form>
        <canvas id="canvas" width="300" height="100"></canvas>
        <p id="sign">sign here</p>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/petition.js"></script>
