
<div class="container">
    <div class="inner-container">
        {{#if error}}
        <div class='err'>Ooops! Forgot something??</div>
        {{/if}}
        <form method='POST'>
            <input placeholder="first name" name="first">
            <input placeholder="last name" name="last">
            <input type='hidden' id="sig" name="sig">
            <input type='hidden' name="_csrf" value={{csrfToken}}>

            <button name="button">submit</button>
            {{isInput}}
        </form>
        <canvas id="canvas" width="400" height="400"></canvas>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="script.js"></script>
