<img src="/hamburgermenu.svg" alt="men" id="men">


<p id="not-mandatory">Please provide us your age, city and homepage (non mandatory)</p>

<div class="profile-container">
    <div class="fullProfile">
        <form method='POST'>
            <input placeholder="Age" name="age">
            <input placeholder="City" name="city">
            <input placeholder="Homepage" name="url">
            <input type='hidden' name="_csrf" value={{csrfToken}}>
            <button name="button">continue</button>
        </form>
    </div>
</div>
{{>nav}}
