<form method='POST'>
    <input placeholder="Age" name="age">
    <input placeholder="City" name="city">
    <input placeholder="Homepage" name="url">
    <input type='hidden' name="_csrf" value={{csrfToken}}>
    <button name="button">continue</button>
</form>
