<form method='POST'>
    <input placeholder="first name" name="first">
    <input placeholder="last name" name="last">
    <input placeholder="emailAdress" name="email">
    <input placeholder="password" name="password">
    <input type='hidden' name="_csrf" value={{csrfToken}}>
    <button name="button">submit</button>
</form>
{{#if error}}
<div class='err'>please fill out all fields before hitting the submit button</div>
{{/if}}
