
<div class="cont">
    <p id="register-text">Join us in the fight against Leitungswasser shaming!</p>
    <p id="slide">(we were gonna order food anyway... 🙄)</p>
</div>


<div class="profile-container">
    <div class="fullProfile">

        <form method='POST'>
            <input placeholder="first name" name="first">
            <input placeholder="last name" name="last">
            <input placeholder="email address" name="email">
            <input type="password" placeholder="password" name="password">
            <input type="password" placeholder="repeat password" name="password2">
            <input type='hidden' name="_csrf" value={{csrfToken}}>
            <button id="submit" name="button">submit</button>
        </form>
    </div>
</div>



<p id="already">Already registered? Log in <a href="/login">here</a></p>
<div class="err-container">

{{#if error}}
<div class='err'>please fill out all fields before hitting the submit button</div>
{{/if}}
{{#if repeatPass}}
<div class='err'>please repeat the same password twice</div>
{{/if}}
</div>

<footer>Inbal Levertov, Petition Project, Allspice cohort, Berlin February 2020</footer>
