<div id="thanks-outer-container">
    {{#if updated}}
    <div class='err'>your profile updated successfully!</div>
    {{/if}}


<h1>Thank you for your support!</h1>
<div id="thanks-inner-container">

    <div id="sig">{{>sig}}</div>
    <h2 id="to-signers">to see all {{signersNr}} signers please click <a href="/signers">here</a></h2>

</div>
</div>
