* {
    font-family: "Indie Flower", cursive;
    box-sizing: border-box;
    margin: 0;
    /* background-color: #00a8ff; */
}

body {
    height: 100%;
}

header {
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    background-color: #00a8ff;
    height: 95px;
}

footer {
    width: 100vw;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 90vh;
    z-index: -1;
}

#water {
    object-fit: cover;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 0;
}

p {
    font-size: 25px;
    margin: 0;
}

#canvas {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #ccffcc;
}
.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-image: url(/background-water.jpg);
    object-fit: cover;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
}

.inner-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.err {
    margin: 10px;
    width: 300px;
    background-color: red;
    text-align: center;
}

.signature {
    width: 400px;
}

#sign {
    font-size: 15px;
    margin: 10px;
    text-align: center;
    color: black;
}
/* #sign-big {
    position: relative;
    width: 100vw;
} */

button {
    border: black 2px solid;
    background-color: bisque;
}

#sig {
    border: black solid 3px;
    border-radius: 10%;
}

#sig p {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

#thanks-inner-container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

#thanks-outer-container {
    background-image: url(/thanks-BG.jpg);
    object-fit: cover;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 79vh;
}
#thanks-outer-container h1 {
    margin-bottom: 10px;
}

h1,
#register-text {
    text-align: center;
}

#not-mandatory {
    text-align: center;
    margin-bottom: 15px;
}
.profile-container {
    display: flex;
    justify-content: center;
}
.fullProfile form {
    display: flex;
    flex-direction: column;
}

/* .fullProfile  */

form input {
    width: 200px;
    margin-top: 10px;
    font-size: 12px;
}

#submit {
    margin-top: 10px;
}

#edit-profile {
    width: 200px;
    background-color: yellow;
    border: black 3px solid;
    margin-top: 10px;
}

#already {
    text-align: center;
    margin-top: 15px;
}

#tap {
    font-size: 15px;
    text-align: center;
    margin-top: 0;
}

#sign-container {
    margin: 5px;
    display: flex;
    align-items: center;
    margin-right: 100px;
    /* position: absolute; */
}
.err-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#to-signers {
    text-align: center;
    margin-top: 100px;
}

img[alt="signature"] {
    margin-left: 100px;
}
img[alt="signature-gif"] {
    width: 300px;
    height: 180px;
    z-index: 2;
    margin: 15px;
    object-fit: cover;
}
img[alt="glas"] {
    height: 400px;
    z-index: 2;
}

#login-container {
    display: flex;
    justify-content: center;
}

/* #thanks-sig{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* NAV */
#men {
    float: right;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 15px;
    width: 40px;
}

img[alt="men"] {
    cursor: grab;
}
#hamburger-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: none; */
    visibility: hidden;
}

#hamburger-menu.on {
    /* display: block; */
    visibility: visible;
}

#hamburger-menu::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
    opacity: 0.5;
}

#menu {
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    max-width: 400px;
    transform: translateX(100%); /*100 percent of its own width */
    /* overflow: hidden; */
}

/* #slide {
    position: absolute;
    right: 0;
    transform: translateX(100%);
} */

#slide {
    animation-duration: 3s;
    animation-name: slidein;
    text-align: center;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.cont {
    overflow: hidden;
}
/* .on #slide {
    transition-property: transform;
    transition-duration: 0.5s;
    transform: translateX(0); */
/* } */
.on #menu {
    transition-property: transform;
    transition-duration: 0.5s;
    transform: translateX(0);
    /* overflow: hidden; */
}
.on #menu .off {
    transition-property: transform;
    transition-duration: 0.5s;
    transform: translateX(-100%);
}

#menu a {
    /* font-size: 22px; */
    /* display: block; */
}
#menu dd {
    margin-bottom: 10px;
}

#menu button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    text-decoration: underline;
    color: #551a8b;
    cursor: pointer;
}

.x {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    color: black;
    font-size: 30px;
}

dl {
    margin-top: 40px;
}

@media screen and (min-width: 320px) and (max-width: 667px) {
    .fullProfile form {
        width: 100vw;
    }
    form input,
    #submit {
        margin: 15px;
        font-size: 22px;
    }

    #submit {
        width: 200px;
    }

    header {
        align-content: center;
        font-size: 15px;
        text-align: justify;
        height: 60px;
    }

    #tap {
        align-content: center;
        text-align: justify;
        font-size: 12px;
    }
    #slide {
        display: none;
    }

    #register-text {
        font-size: 18px;
    }
    footer {
        font-size: 9px;
        text-align: left;
    }

    body {
        margin: 0px;
        width: 100%;
    }
    #menu {
        right: 30px;
    }

    #sprint {
        left: 30px;
    }

    h1 {
        font-size: 25px;
        top: 25%;
        transform: translate(-50%, -25%);
    }

    #button {
        width: 150px;
        height: 30px;
        font-size: 15px;
        top: 70%;
        transform: translate(-50%, -70%);
    }
    .box {
        width: 100%;
        float: left;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    p {
        width: 55%;
        float: left;
        margin-left: 40px;
    }

    .icon {
        margin-top: 25px;
    }

    .bottom {
        height: 650px;
        margin-top: 0px;
    }

    .main_page {
        /* margin-top: 20px; */
    }

    footer p {
        width: 100%;
    }
}

/* #modal-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}

#modal-dialog.onJQ {
    visibility: visible;
}

#modal-dialog::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
}
#popup {
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
/* align-items: flex-start;
    padding-left: 30px;
    padding-top: 30px;
    left: 25%;
    top: 25%;
    height: 50%;
    width: 50%;
    max-width: 600px;
}

h2 {
    width: 100%;
    height: 10px;
}

.popup-text {
    width: 100%;
    height: 10px;
} */
