header {
    margin-bottom: 10px;
    text-align: center;
}

footer {
    margin-top: 10px;
    text-align: center;
}

#canvas {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: purple;
}
.container {
    display: flex;
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.err {
    width: 300px;
    background-color: red;
    text-align: center;
}

.signature {
    width: 400px;
}
