* {
    font-family: "Indie Flower", cursive;
    /* background-color: #00a8ff; */
}

header {
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    background-color: #00a8ff;
}

footer {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

#water {
    object-fit: cover;
    width: 300px;
}

p {
    font-size: 25px;
}

#canvas {
    margin-top: 10px;
    /* margin-bottom: 10px; */
    background-color: purple;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/background-water.jpg);
    object-fit: cover;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
}

.inner-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.err {
    margin: 10px;
    width: 300px;
    background-color: red;
    text-align: center;
}

.signature {
    width: 400px;
}

#sign {
    font-size: 15px;
    margin: 0;
}

button {
    border: black 2px solid;
}

#sig {
    border: black solid 3px;
    border-radius: 10%;
}

#sig p {
    text-align: center;
}

#thanks-inner-container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

#thanks-outer-container {
    /* background-image: url(/thanks.jpg); */
    object-fit: cover;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 79vh;
}

h1 {
    text-align: center;
}
.profile-container {
    display: flex;
    justify-content: center;
}
.fullProfile form {
    display: flex;
    flex-direction: column;
}

.fullProfile form input {
    width: 200px;
    margin-top: 10px;
}

#edit-profile {
    width: 200px;
    background-color: yellow;
    border: black 3px solid;
}

img[alt="men"] {
    cursor: grab;
}
#hamburger-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: none; */
    visibility: hidden;
}

#hamburger-menu.on {
    /* display: block; */
    visibility: visible;
}

#hamburger-menu::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
    opacity: 0.5;
}

#menu {
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    max-width: 400px;
    transform: translateX(100%); /*100 percent of its own width */
    /* overflow: hidden; */
}
.on #menu {
    transition-property: transform;
    transition-duration: 0.5s;
    transform: translateX(0);
    /* overflow: hidden; */
}
.on #menu .off {
    transition-property: transform;
    transition-duration: 0.5s;
    transform: translateX(-100%);
}

#menu a {
    font-size: 22px;
    /* display: block; */
}
#menu dd {
    margin-bottom: 10px;
}

.x {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: gray;
    font-size: 22px;
}

#modal-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}

#modal-dialog.onJQ {
    visibility: visible;
}

#modal-dialog::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
}
#popup {
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 30px;
    left: 25%;
    top: 25%;
    height: 50%;
    width: 50%;
    max-width: 600px;
}

h2 {
    width: 100%;
    height: 10px'
}

.popup-text {
    width: 100%;
    height: 10px;
}
